extends layout
block content
  - var title = "Le mie prigioni";
  - var author = "Silvio Pellico";
  .main-container
    .row
      .col-md-3
        .row
          .col-md-6
            img.thumbnail(src='img/book.png')
          .col-md-6
            p= title
            p= author
            p= "Edition"
            a(href="#" data-toggle="tooltip" title="more info")
              scan.glyphicon.glyphicon-refresh
            a(href="#" data-toggle="tooltip" title="share request")
                scan.glyphicon.glyphicon-info-sign

